 
  .img-product{
    width: 300px;
    height: 290px;
    border-radius: 15px;
    background-color: rgb(221, 67, 93);
    margin-left: auto;
    margin-right: auto;
  }
  
  .info-product{
    text-align: center;
    margin-top: 10px;
    color: black;
    text-decoration: none;
  }
  
  .cards-container{

    display: inline-block;
    flex-wrap: wrap;
  }
  .card{
    margin: 8px;
    border-radius: 14px;
    width: 350px;
    height: 500px;
  }
 .productsA{
    color: darkslategrey;
    text-decoration: none;
  }
.filterInput{
    margin: 10px;
}